# Ignore all files by default, but scan all directories.
*
!*/

# Do not ignore git files in the root of the repo.
!/.git*

# Do not ignore current project's `.uproject`.
!/*.uproject

# Do not ignore source, config, and plugins dirs.
!/Source/**
!/Config/**
!/Plugins/**

# Only allow .uasset and .umap files from /Content dir.
/Content/**/*.uasset
/Content/**/*.umap
